<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pagina de ventas</title>
        <link rel="stylesheet" type="text/css" href="Style.css">
    </head>
    <body>
        <h1 class="Tlo"><a href="/paginaVentas">Titulo</a></h1>
        <button class="boton"><a href="/crearUsuario">Crear usuario</a></button>
        <button class="boton"><a href="/catalogo">Catalogo</a></button>
        <form>
            <li>usuario</li><input type="text" required name="usuario">
            <li>clave</li><input type="password" required name="clave">
            <br><br>
            <input type="submit">
            <input type="reset">
        </form>        
    </body>
</html>